<h3 class="bg-primary text-white p-3">{{getName()}} Todo App</h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">

      <div class="input-group">
        <input type="text" #todoText class="form-control" placeholder="Add Todo" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click) = "addTodoItem(todoText.value); todoText.value = ''; ">Add</button>
        </div>
      </div>

      <div class="custom-controller custom-checkbox my-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)] = "showAll">
        <label class="custom-control-label" for="customCheck1">Show All</label>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Todo</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getTodoList() ">
            <td>{{item.description}}</td>

            <td>
              <input type="checkbox" [(ngModel)]="item.action" >
            </td>

            <td [ngSwitch]="item.action ">
              <span *ngSwitchCase = "true">
                yes
              </span>
              <span *ngSwitchCase = "false" >
                no
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
